::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background-color: rgb(0 0 0);
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    background: linear-gradient(to bottom, #ff0084, #4bc0c8);
    background-size: 200% 200%;
    border-radius: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: 0 0;
}
::-webkit-scrollbar-thumb:hover {
    background-position: 0 50%;
}
::-webkit-scrollbar-thumb:active {
    background-position: 100% 100%;
}
::-webkit-scrollbar-track:hover {
    background-color: rgb(10 10 10);
}
::-webkit-scrollbar-track:active {
    background-color: rgb(20 20 20);
}
